.create-course-step-1 {
  display: grid;
  grid-template-rows: 2fr 2fr 40px;
  font-family: var(--font-primary);
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  padding: var(--spacing-lg) var(--spacing-xxl);

  .card {
    padding: var(--spacing-md) var(--spacing-lg);
    color: var(--charlestone-green);
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2,
    h3 {
      font-weight: var(--font-weight-bold);
      color: var(--academy-primary);
    }

    label {
      font-weight: var(--font-weight-bold);
    }

    input {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: var(--radius);
      padding: 0.5rem;
      font-size: 1rem;
    }

    textarea {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: var(--radius);
      padding: 0.5rem;
      font-size: 1rem;
    }
  }

  /* Agrupación de detalles y cards */
  .course-details,
  .course-details-grid > div {
    display: flex;
    flex-direction: column;
  }
  .course-card,
  .skills-card,
  .search-skills-card {
    height: 100%;
    justify-content: flex-start;
  }
  .course-skills {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;
  }
  .course-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md) var(--spacing-xxl);
  }

  .search-skill-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }

  .skills-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  /* Chips y botones agrupados */
  .search-chip,
  .course-chip,
  .new-chip {
    border-radius: var(--radius);
    font-size: 0.95rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 0.3rem 1rem;
  }
  .search-chip,
  .course-chip {
    background: #e0eafc;
    color: #217aef;
  }
  .new-chip {
    background: #ddd;
    color: #217aef;
  }
  .search-chip:hover,
  .new-chip:hover {
    background: var(--academy-primary);
    color: white;
  }
  .course-chip {
    position: relative;
  }

  .course-chip:hover .chip-x {
    display: flex;
  }

  .course-chip .chip-x {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    color: #217aef;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .course-chip:hover {
    background: #ddd;
    color: transparent;
  }
  .course-chip:hover .chip-x {
    display: flex;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .create-course-button {
    padding: 0.5rem 1.5rem;
    background-color: var(--charlestone-green);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
  }

  .create-course-button:hover {
    background-color: var(--academy-primary);
  }
}

.create-course-step-2 {
  display: grid;
  height: calc(100vh - 60px);
  overflow: hidden;
  grid-template-columns: 1fr 3fr;

  aside {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100%;
    background-color: var(--background-snow);
    border-right: 1px solid #ddd;
    overflow: hidden;

    .course-name {
      align-self: start;
      justify-content: flex-start;
      padding: var(--spacing-sm);

      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      word-spacing: normal;
      transition: all 0.5s ease;
      background: var(--academy-primary);
      color: white;
      z-index: 0;
      height: 50px;

      .course-extras {
        display: none;

        border-top: 3px solid #fff;
        flex-direction: column;
        padding-top: var(--spacing-md);
        gap: var(--spacing-sm);
      }

      &:hover {
        text-overflow: unset;
        -webkit-line-clamp: unset;
        line-clamp: unset;
        height: calc(100vh - 110px);
        border-bottom: 1px solid #fff;

        .course-extras {
          display: flex;
        }
      }
    }
    .module-list {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;

      scrollbar-width: thin;
      scrollbar-color: var(--charlestone-green) transparent;
    }
    .module-summary {
      padding: var(--spacing-sm);
      border-bottom: 1px solid #ddd;

      &:hover {
        background-color: var(--background-lightblue);
        cursor: pointer;
      }

      .module-title {
        font-weight: bold;
        color: var(--academy-secondary);
        font-size: 1.2rem;
      }

      .module-number {
        color: var(--academy-secondary);
        font-size: 0.75rem;
        font-weight: var(--font-weight-bold);
        text-align: end;
      }

      .lesson-summary {
        padding: 0 var(--spacing-md);
        font-size: 0.9rem;

        .lesson-type {
          font-weight: bold;
          font-size: var(--font-size-h4);
        }
        .lesson-title {
          font-size: var(--font-size-sm);
        }
      }
    }

    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      gap: 1px;
      background-color: #fff;

      button {
        background-color: var(--academy-primary);
        color: white;
        border: none;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: var(--academy-secondary);
        }
      }
    }
  }

  .create-course-form {
    display: grid;
    grid-template-rows: 50px 1fr;

    /* Botones de navegación */
    .nav-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--academy-primary);
      color: white;
      border: none;
      .nav-icon {
        font-size: 2rem;
      }
    }

    /* Estados de navegación */
    .initial .prev-icon,
    .initial .next-icon,
    .first .prev-icon,
    .first .add-icon {
      display: none;
    }
    .initial .add-icon,
    .first .next-icon {
      display: block;
    }
    .middle .prev-icon,
    .middle .next-icon {
      display: block;
    }
    .middle .add-icon {
      display: none;
    }
    .last .prev-icon,
    .last .add-icon {
      display: block;
    }
    .last .next-icon {
      display: none;
    }

    .initial .next-module-button:hover,
    .first .next-module-button:hover,
    .middle .nav-button:hover,
    .last .nav-button:hover {
      cursor: pointer;
      background-color: var(--academy-secondary);
    }

    /* Navegación de módulos */
    .create-course-nav {
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      color: white;

      .create-course-active-module {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 1.5rem;
        background-color: var(--academy-primary);
        color: white;
        border: none;
        cursor: pointer;
      }

      .active-module-input {
        font-weight: bold;
        font-size: 1.25em;
        border: none;
        background: transparent;
        color: var(--background-snow);
        width: 100%;
        outline: none;
        padding: 0;
        margin: 0;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    /* Contenido de módulos */
    .create-course-content {
      position: relative;
      height: 100%;
      box-sizing: border-box;
      padding: 25px 50px;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      scrollbar-color: var(--charlestone-green) transparent;
      --module-box-width: calc(100% - 100px);
      .module-box {
        position: absolute;
        width: var(--module-box-width);
        transition: all 0.5s ease;
      }
      .prev-module {
        left: calc(-100% + 90px);
      }
      .present-module {
        transform: translateX(-50%);
        left: 50%;
      }
      .next-module {
        left: calc(var(--module-box-width) + 110px);
      }
    }
  }
}
